In [3]:
from pandas import *

In [2]:
dir='/home/augusto/Descargas/data kaggle/'

In [13]:
marvel0=read_csv(dir+'marvel.csv',encoding='latin1')

In [14]:
marvel0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Title                           66 non-null     object
 1   Distributor(s)                  66 non-null     object
 2   Release date(United States)     66 non-null     object
 3   Bud­get (mil­lions)             65 non-null     object
 4   Opening weekend(North America)  66 non-null     object
 5   North America                   66 non-null     object
 6   Other territories               66 non-null     object
 7   Worldwide                       66 non-null     object
dtypes: object(8)
memory usage: 4.2+ KB

In [15]:
marvel0.head()

,Title,Distributor(s),Release date(United States),Bud­get (mil­lions),Opening weekend(North America),North America,Other territories,Worldwide
0,Howard the Duck,Universal Pictures,August 1 1986,$37,$5070136,$16295774,$21667000,$37962774
1,Blade,New Line Cinema,August 21 1998,$45,$17073856,$70087718,$61095812,$131183530
2,X-Men,20th Century Fox,July 14 2000,$75,$54471475,$157299717,$139039810,$296339527
3,Blade II,New Line Cinema,March 22 2002,$54,$32528016,$82348319,$72661713,$155010032
4,Spider-Man,Sony Pictures,May 3 2002,$139,$114844116,$403706375,$418002176,$821708551

In [16]:
marvel0.tail()

,Title,Distributor(s),Release date(United States),Bud­get (mil­lions),Opening weekend(North America),North America,Other territories,Worldwide
61,Venom: Let There Be Carnage,Sony Pictures,October 1 2021,$110,$90033210,$213550366,$288500000,$502050366
62,Eternals,Walt Disney Studios Motion Pictures,November 5 2021,$200,$85021497,$164870234,$237194665,$402064899
63,Spider-Man: No Way Home,Sony Pictures,December 17 2021,$200,$260138569,$780418859,$1072000000,$1852418859
64,Total,Total,Total,$8424,$5688487114,$15809734872,$24430137918,$40239878672
65,Average,Average,Average,$142.352,$83992268,$228139366,$344915384,$573054859

In [19]:
marvel1=marvel0.loc[0:63]

In [20]:
marvel1.keys()

Index(['Title', 'Distributor(s)', 'Release date(United States)',
       'Bud­get (mil­lions)', 'Opening weekend(North America)',
       'North America', 'Other territories', 'Worldwide'],
      dtype='object')

In [26]:
type(marvel1['Bud­get (mil­lions)'][0])

str

In [30]:
int(marvel1['Bud­get (mil­lions)'][0][1:])

37

In [36]:
marvel2=DataFrame()

In [37]:
marvel2['Title']=marvel1['Title']

In [38]:
marvel2['Dist']=marvel1['Distributor(s)']

In [52]:
b=[]
for i in marvel1['Bud­get (mil­lions)']:
    #print(type(i))
    if type(i)==str:
        b.append(int(i[1:]))
    else:
        b.append(int(i))

ValueError: cannot convert float NaN to integer

In [55]:
for i in range(len(marvel1['Bud­get (mil­lions)'])):
               print(i,marvel1['Bud­get (mil­lions)'][i],type(marvel1['Bud­get (mil­lions)'][i]))

0 $37 <class 'str'>
1 $45 <class 'str'>
2 $75 <class 'str'>
3 $54 <class 'str'>
4 $139 <class 'str'>
5 $78 <class 'str'>
6 $110 <class 'str'>
7 $137 <class 'str'>
8 $33 <class 'str'>
9 $200 <class 'str'>
10 $65 <class 'str'>
11 $43 <class 'str'>
12 $100 <class 'str'>
13 $210 <class 'str'>
14 $110 <class 'str'>
15 $258 <class 'str'>
16 $130 <class 'str'>
17 $140 <class 'str'>
18 $150 <class 'str'>
19 $35 <class 'str'>
20 $150 <class 'str'>
21 $200 <class 'str'>
22 $150 <class 'str'>
23 $160 <class 'str'>
24 $140 <class 'str'>
25 $57 <class 'str'>
26 $220 <class 'str'>
27 $230 <class 'str'>
28 $200 <class 'str'>
29 $120 <class 'str'>
30 $170 <class 'str'>
31 $170 <class 'str'>
32 $255 <class 'str'>
33 $200 <class 'str'>
34 $170 <class 'str'>
35 $165 <class 'str'>
36 $250 <class 'str'>
37 $130 <class 'str'>
38 $120 <class 'str'>
39 $58 <class 'str'>
40 $250 <class 'str'>
41 $178 <class 'str'>
42 $165 <class 'str'>
43 $97 <class 'str'>
44 $200 <class 'str'>
45 $175 <class 'str'>
46 nan <class 'float'>
47 $180 <class 'str'>
48 $200 <class 'str'>
49 $316 <class 'str'>
50 $110 <class 'str'>
51 $162 <class 'str'>
52 $100 <class 'str'>
53 $90 <class 'str'>
54 $152 <class 'str'>
55 $356 <class 'str'>
56 $200 <class 'str'>
57 $160 <class 'str'>
58 $67 <class 'str'>
59 $200 <class 'str'>
60 $150 <class 'str'>
61 $110 <class 'str'>
62 $200 <class 'str'>
63 $200 <class 'str'>

In [61]:
marvel3=marvel1.dropna()

In [64]:
marvel3=marvel3.reset_index()

In [67]:
marvel3=marvel3.drop('index',axis=1)

In [68]:
b=[]
for i in marvel3['Bud­get (mil­lions)']:
    #print(type(i))
    if type(i)==str:
        b.append(int(i[1:]))
    else:
        b.append(int(i))

In [77]:
marvel2=DataFrame()
marvel2['Title']=marvel3['Title']
marvel2['Dist']=marvel3['Distributor(s)']

In [79]:
marvel2['budget']=b

In [80]:
marvel2

,Title,Dist,budget
0,Howard the Duck,Universal Pictures,37
1,Blade,New Line Cinema,45
2,X-Men,20th Century Fox,75
3,Blade II,New Line Cinema,54
4,Spider-Man,Sony Pictures,139
...,...,...,...
58,Black Widow,Walt Disney Studios Motion Pictures,200
59,Shang-Chi and the Legend of the Ten Rings,Walt Disney Studios Motion Pictures,150
60,Venom: Let There Be Carnage,Sony Pictures,110
61,Eternals,Walt Disney Studios Motion Pictures,200
62,Spider-Man: No Way Home,Sony Pictures,200

In [81]:
marvel3.keys()

Index(['Title', 'Distributor(s)', 'Release date(United States)',
       'Bud­get (mil­lions)', 'Opening weekend(North America)',
       'North America', 'Other territories', 'Worldwide'],
      dtype='object')

In [82]:
marvel3['Release date(United States)']

0        August 1 1986
1       August 21 1998
2         July 14 2000
3        March 22 2002
4           May 3 2002
            ...
58         July 9 2021
59    September 3 2021
60      October 1 2021
61     November 5 2021
62    December 17 2021
Name: Release date(United States), Length: 63, dtype: object

In [100]:
dic1={'relDate':[],'year':[],'month':[],'day':[]}
for fecha in marvel3['Release date(United States)']:
    dic1['relDate'].append(to_datetime(fecha).date())
    dic1['year'].append(to_datetime(fecha).year)
    dic1['month'].append(to_datetime(fecha).month)
    dic1['day'].append(to_datetime(fecha).day)

In [104]:
marvel2=marvel2.join(DataFrame(dic1))

In [109]:
marvel3['Worldwide']

0       $37962774
1      $131183530
2      $296339527
3      $155010032
4      $821708551
         ...
58     $379631351
59     $432243292
60     $502050366
61     $402064899
62    $1852418859
Name: Worldwide, Length: 63, dtype: object

In [114]:
rec=[]
for i in marvel3['Worldwide']:
    #print(type(i))
    print(i[1:])
    rec.append(int(i[1:]))

37962774
131183530
296339527
155010032
821708551
179179718
407711549
245360480
54700105
788976453
128905366
56681566
330579719
459359555
228738393
890871626
301913131
585174222
263427551
10100036
373062864
623933331
449326618
353624124
370569774
132563930
1518812988
757930663
1214811252
414828246
644571402
714264267
708982323
747862775
773328629
657827828
1405403694
519311965
167882881
783112979
1153304495
543934105
677718395
616795600
863756051
880166924
853977126
1346913161
2048359754
785046920
622674139
855013954
375540831
1128274794
2797800564
252442974
1131927996
48675066
379631351
432243292
502050366
402064899
1852418859

In [116]:
import numpy as np

Rec=array(rec)

In [119]:
REC=Rec/1000000

In [120]:
marvel2['Recaudado']=REC

In [121]:
marvel2['ganancia']=marvel2['Recaudado']-marvel2['budget']

In [122]:
marvel2

,Title,Dist,budget,relDate,year,month,day,Recaudado,ganancia
0,Howard the Duck,Universal Pictures,37,1986-08-01,1986,8,1,37.962774,0.962774
1,Blade,New Line Cinema,45,1998-08-21,1998,8,21,131.18353,86.18353
2,X-Men,20th Century Fox,75,2000-07-14,2000,7,14,296.339527,221.339527
3,Blade II,New Line Cinema,54,2002-03-22,2002,3,22,155.010032,101.010032
4,Spider-Man,Sony Pictures,139,2002-05-03,2002,5,3,821.708551,682.708551
...,...,...,...,...,...,...,...,...,...
58,Black Widow,Walt Disney Studios Motion Pictures,200,2021-07-09,2021,7,9,379.631351,179.631351
59,Shang-Chi and the Legend of the Ten Rings,Walt Disney Studios Motion Pictures,150,2021-09-03,2021,9,3,432.243292,282.243292
60,Venom: Let There Be Carnage,Sony Pictures,110,2021-10-01,2021,10,1,502.050366,392.050366
61,Eternals,Walt Disney Studios Motion Pictures,200,2021-11-05,2021,11,5,402.064899,202.064899
62,Spider-Man: No Way Home,Sony Pictures,200,2021-12-17,2021,12,17,1852.418859,1652.418859

In [126]:
marvel2.loc[marvel2.ganancia==marvel2.ganancia.min()]

,Title,Dist,budget,relDate,year,month,day,Recaudado,ganancia
19,Punisher: War Zone,Lionsgate Films,35,2008-12-05,2008,12,5,10.100036,-24.899964

In [127]:
marvel2.describe()

           budget         year      month        day    Recaudado     ganancia
count   63.000000    63.000000  63.000000  63.000000    63.000000    63.000000
mean   150.507937  2011.952381   6.333333  10.714286   638.994096   488.486159
std     68.530632     6.977911   2.834124   8.514558   513.137120   463.008170
min     33.000000  1986.000000   1.000000   1.000000    10.100036   -24.899964
25%    105.000000  2007.000000   5.000000   3.500000   299.126329   175.772241
50%    150.000000  2014.000000   6.000000   7.000000   543.934105   392.050366
75%    200.000000  2017.500000   8.000000  16.500000   805.342502   668.866589
max    356.000000  2021.000000  12.000000  30.000000  2797.800564  2441.800564